include includes/base.jade
    script
        include ../js/merchandise.js
    div.col-md-8
        include includes/merchandise/merchandiseForm

    div.col-md-4.basket
        h3 Basket:
        if basket
            each item, index in basket
                h4 #{item.product}
                ul

                    li Size:&#32;
                        span #{item.size}
                    li Colour:&#32;
                        span #{item.colour}
                    li Quantity:&#32;
                        span #{item.quantity}

                    form(method="post" action="/merchandise/remove/" + index)
                        .form-group
                            input(type="hidden" name='_csrf' value=csrfToken)
                            input(type="hidden" name='index' value=index)
                        button.btn.btn-primary Remove Item

        else
            p Nothing in the basket :(

    div.merchandise_demo_images
        img(src="../assets/images/merchandise/hoodyFront.JPG")
        img(src="../assets/images/merchandise/hoodyBack.JPG")