include includes/base
    -
        var getReformattedDate = function(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + " " + month + " " + year;
        };

        var currentDate = getReformattedDate(new Date());
        
        var emptyDojo = true;
        users.forEach(function(user) {
            var checkDate = getReformattedDate(new Date(user.Login));
            if (checkDate === currentDate) {
                emptyDojo = false;
            }
        });

    if emptyDojo
        h1 No one is logged in
    else
        h1 The following people are logged in:
        br
        table(class="table table-striped")
            thead
                tr
                    th First Name
                    th Last Name
                    th Nick Name
                    th Login time
                    th Logout time

            tbody
            for user in users
                -
                    var loginDate = new Date(user.Login)
                    var logoutDate = new Date(user.Logout)
                    var checkDate = getReformattedDate(new Date(user.Login));
                if currentDate === checkDate
                    tr
                        td #{user.FirstName}
                        td #{user.LastName}
                        td #{user.NickName}
                        td #{loginDate.getHours()}:#{loginDate.getMinutes()}
                        if logoutDate.getHours() === 0 && logoutDate.getMinutes() === 0
                            td - - - -
                        else
                            td #{logoutDate.getHours()}:#{logoutDate.getMinutes()}
