include includes/base
    include includes/mentorNav.jade
    -
        var getAge = function(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();

            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }

            return age;
        };

        var getReformattedDate = function(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + " " + month + " " + year;
        };

        var currentDate = getReformattedDate(new Date());

        var attendedUsers = [];
        var numLoggedOut = 0;

        users.forEach(function(user) {
            var checkDate = getReformattedDate(new Date(user.Login));
            if (checkDate === currentDate) {
                attendedUsers.push(user)
                if (user.Logout !== null) {
                    numLoggedOut += 1;
                }
            }
        });

        attendedUsers.sort(function(a, b) {
            return b.Login - a.Login;
        })

    if attendedUsers.length === 0
        h1 No one is logged in
    else
        br
        div(class="col-md-4" align="center")
            div(class="tombotron")
                h3(class="register-counter") #{"Attended:  "}
                span(class="badge register-counter") #{attendedUsers.length}

        div(class="col-md-4" align="center")
            div(class="tombotron")
                h3(class="register-counter") #{"Logged in:  "}
                span(class="badge register-counter") #{attendedUsers.length - numLoggedOut}

        div(class="col-md-4" align="center")
            div(class="tombotron")
                h3(class="register-counter") #{"Logged out:  "}
                span(class="badge register-counter") #{numLoggedOut}
        br
        br
        br

        h1 The following people attended Dojo today:
        br
        table(class="table table-striped")
            thead
                tr
                    th
                    th First Name
                    th Last Name
                    th Nick Name
                    th Login time
                    th Logout time
                    if users[0].ContactNumber
                        th Contact Number
                    if users[0].DOB
                        th Age

            tbody
                - var index = 1
            each user in attendedUsers
                -
                    var loginDate = new Date(user.Login)
                    var logoutDate = new Date(user.Logout)

                tr
                    td #{index++}
                    td #{user.FirstName}
                    td #{user.LastName}
                    td #{user.NickName}
                    td #{loginDate.getHours() < 10 ? "0" + loginDate.getHours() : loginDate.getHours()}:#{loginDate.getMinutes() < 10 ? "0" + loginDate.getMinutes() : loginDate.getMinutes()}
                    if logoutDate.getHours() === 0 && logoutDate.getMinutes() === 0
                        td - - - -
                    else
                        td #{logoutDate.getHours() < 10 ? "0" + logoutDate.getHours() : logoutDate.getHours()}:#{logoutDate.getMinutes() < 10 ? "0" + logoutDate.getMinutes() : logoutDate.getMinutes()}
                    if user.ContactNumber
                        td #{user.ContactNumber}
                    if user.DOB
                        td #{getAge(user.DOB)}
