mixin createUserTable(typeOfUser)

    div(class="col-md-6")
        h2(align="center")= typeOfUser
        table(class="table table-striped")
            thead
                tr
                    th User Name
                    th Last Seen
                    th Days to Birthday
            tbody
                each record in users
                    if record.UserType === typeOfUser
                        tr
                            td !{record.NickName}
                            td #{new Date(record.Login).getDate()} #{monthNames[new Date(record.Login).getMonth()]} #{new Date(record.Login).getFullYear()}
                            td #{record.daysToBirthday}


include includes/base.jade
    - var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    +createUserTable("Student")
    +createUserTable("Mentor")