h1 Thank you for your order!
p Here are the items you have requested for #{order_for}:
each item in basket
    h4 #{item.product}
    ul
        li Name on product:&#32;
            span #{item.name}
        li Size:&#32;
            span #{item.size}
        li Colour:&#32;
            span #{item.colour}
        li Quantity:&#32;
            span #{item.quantity}
        li Other details/querues:&#32;
            span #{item.details}

h2 What happens next?
p This e-mail has been sent to Laura at Osborne. She will now send you an invoice for you to make payment to. Once this payment is made she will start producing your products as requested.
P Unless you get in contact with Laura to say otherwise, she will deliver your items to the Dojo. They can also be collected from her in the Horsham area.

p If you have any issues or queries regarding your order feel free to contact Laura at laura.osborne@rjosborne.com (http://www.rjosborne.com/)
p You can also contact the Dojo at horshamdojomentor@gmail.com

p Happy Coding! :)
p https://www.horshamcoderdojo.org.uk/
